.Jobitem{
    border: 1px solid black;
    padding: 10px;
    width: 290px;
    
    margin: 10px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.068);

}
.indianLogo{
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
}
.CountryLogo{
    display: flex;
    gap: 10px;
}
.InfoLogo{
    margin-top: 20px; 
    margin-left: 40px; 
}
.DesriptionInfo{
    position: absolute    ;
    overflow-y: auto;
    top: 0rem;
    left: 19rem;
    width: 75%;
    padding: 20px   ;
    height: 100vh;
    text-decoration: none;
    background: rgb(57, 55, 55);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    color: white;
   
    animation: fadeInDown 0.5s ease forwards;
}
.svgLogo{
    color: white;

}
.JobDutiesTitle{
    color: skyblue;
}
.ApplyNowButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.JobitemButton{
    
    width: fit-content;
    margin: 10px;
    font-size: 15px;
}
.Dutys{
    text-align: start;
}