.ToplAYER{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.SecondLayer{
   
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.Second{
    display: flex;
    flex-direction: column;
    
}
.Title{
    padding: 100px;

  width: 870px;
    background: rgba(37, 170, 225, 1);
   display: flex;
   flex-direction: column;
   gap: 20px;
    color: white;
}
.overFlow{
    display: flex;
    flex-direction: column;
   
    overflow: auto;
}

.BigLogo{
    height: 400px;
    width: 300px;
    margin-top: 150px;
}


.Caption{
width: 750px;
font-size: 90px;
flex-wrap: wrap;
    
}
p{
    font-size: 20px;
}
.ChatLogo{
    display: flex;
    align-self: flex-end;
    margin-right: 60px;
    
}

.Row{
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.ServiceDetails{
    width: 1500px;
    display: flex;
    overflow: auto;
}

.Description{
    background: rgba(235, 251, 255, 1);
    padding: 100px; 
     width: 870px;

     display: flex;
     flex-direction: column;
   gap: 80px;


 
}
.Filter{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    animation: scrollLeft 10s linear infinite;
    
  
}
.ClientServiceTag{
  width: 500px; 
  font-size: 25px;     
}

.ClientServiceDescription{
    width: 1100px;
    font-size: 19px;
}
.CompanyServeices{
    border: 1px solide black;
}
.Achievments{
    background: rgba(37, 170, 225, 1);
    padding: 100px;
    display: flex;
    justify-content: space-between;
color: white;
}

.AchievmentsItems{
 gap: 20px;
 text-align: center;
}
.ClientResponce{
    background: rgba(235, 251, 255, 1);
    text-align: center;
    padding: 20px;

}
a{
    color:  rgba(37, 170, 225, 1);

}
.ClientrCompanyName{
    color: rgba(120, 120, 120, 1);
    
}
.ClientReport{
    background-color: white;
    padding: 20px;
    margin: 10px;
    animation: scrollLeft 10s linear infinite;
    
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Move container to the left */
    }
}

.title {
    letter-spacing:     1px; /* Adjust as needed */
    word-spacing: 30px;   /* Adjust as needed */
}
.Horizontal{
    display: flex;
    gap: 20px;
}