.ToplAYER{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.SecondLayer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.Second{
    display: flex;
    flex-direction: column;
   
}
.Title{
    padding: 100px;

  width: 870px;
    background: rgba(37, 170, 225, 1);
   display: flex;
   flex-direction: column;
   gap: 20px;
    color: white;
}
.overFlow{
    display: flex;
    flex-direction: column;
   
    overflow: auto;
}


.Caption{
width: 750px;
font-size: 90px;
flex-wrap: wrap;
    
}
p{
    font-size: 20px;
}
.ChatLogo{
    display: flex;
    align-self: flex-end;
    margin-right: 60px;
    
}

.Row{
    display: flex;
    justify-content: space-between;
}


