.AboutTopLayer{
    display: flex;
    width: 100vw;
}

.AboutpageSecondLayer{
    height: 100vh;
    overflow-y: auto;
}

.AgilewitsInfo{
    background: #EBFBFF;
    padding: 60px;
  
    display: flex;
    flex-direction: row;
  gap: 40px;

    font-size: 10px;

}

.AgilewitsBio{
   margin-top: 150px;
    flex-wrap: wrap;
   


    padding: 20px;
}

.Headfont{
    font-size: 19px;
    
}

.Mission{
    background: #25AAE1;
    padding: 60px;
    color: white;
    font-size: 10px;

}
.MissionTopics{
    border: 1px solid white;
    padding: 6px;
    margin: 6px;
    width: 200px;

}

.MissionTopicsWraper{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

.MissionDescription{
    font-size: 16px;
}
.MissiileLogo{
width: 330px;

}
